body{
    background: #FFEBCD;
    
}

table{
    margin: auto;
    border: 2px solid rgb(255, 0, 55);
    padding: 1em; 
    background: white;
}

caption{
    padding: .5em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: Dimgrey; 
}

.m-t{
    margin-top: 2em;
}

a, .a{
    background:none;
    margin: auto;
    text-decoration: none;
    color: rgb(255, 0, 55);
    font-weight: bold;
    text-align: center;
    display: block;
    padding: .5em;
    border: 2px solid rgb(0, 255, 134);
    transition: all 400ms;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: .4em;

}

.a{
    padding: 10px 35px;
    cursor: pointer;
}

a:hover{
    border-color: orange;
}

a:before{
font-family: FontAwesome;
 content: "*";
 position: absolute;
 top: 14px;
 left:20px;
 transition: all 200ms ease;
}

a:hover:before {
    left: 7px;
   }
   
   table{
       background: salmon;
   }

   img{
       width: 40px;
       float: right;

   }

   .clear{
       clear: both;
   }

    body{
        font-family: Arial, Helvetica, sans-serif;
    }
           
    input{
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
        }
        
img .imagen{
    width: 5em;
    margin-right: 3.8em;
}
